@charset "UTF-8";

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Bold.woff2") format("woff2"), url("../fonts/e-Ukraine-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Medium.woff2") format("woff2"), url("../fonts/e-Ukraine-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Light.woff2") format("woff2"), url("../fonts/e-Ukraine-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Regular.woff2") format("woff2"), url("../fonts/e-Ukraine-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-UltraLight.woff2") format("woff2"), url("../fonts/e-Ukraine-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Thin.woff2") format("woff2"), url("../fonts/e-Ukraine-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

:root {
  /* Colors */
  --text-dark: #1f1f1f;
  --text-light: #ffffff;
  --background-secondary: #eeeff1;
  --background-primary: #ffffff;
  --accent-900: #020d3a;
  --accent-800: #051b73;
  --accent-700: #0728ad;
  --accent-600: #0936e7;
  --accent-500: #355cf7;
  --accent-400: #5d7df9;
  --accent-300: #869dfa;
  --accent-200: #aebefc;
  --accent-100: #eceffe;
  --grayscale-900: #4c5167;
  --grayscale-800: #747b98;
  --grayscale-700: #8991b0;
  --grayscale-600: #a4a9c2;
  --grayscale-500: #bec3d4;
  --grayscale-400: #cacfe0;
  --grayscale-300: #d9dde9;
  --grayscale-200: #e8eaf2;
  --grayscale-100: #f7f8fb;
  --semanticcolor-error-900: #2c0202;
  --semanticcolor-error-800: #580303;
  --semanticcolor-error-700: #840505;
  --semanticcolor-error-600: #ce0808;
  --semanticcolor-error-500: #f50a0a;
  --semanticcolor-error-400: #f62727;
  --semanticcolor-error-300: #f95d5d;
  --semanticcolor-error-200: #fb9393;
  --semanticcolor-error-100: #fee6e6;
  --semanticcolor-warning-900: #372502;
  --semanticcolor-warning-800: #6e4b04;
  --semanticcolor-warning-700: #a57007;
  --semanticcolor-warning-600: #dc9509;
  --semanticcolor-warning-500: #f6b127;
  --semanticcolor-warning-400: #f8c152;
  --semanticcolor-warning-300: #fad07d;
  --semanticcolor-warning-200: #fce0a9;
  --semanticcolor-warning-100: #fef6e7;
  --semanticcolor-info-900: #020d3a;
  --semanticcolor-info-800: #051b73;
  --semanticcolor-info-700: #0728ad;
  --semanticcolor-info-600: #0936e7;
  --semanticcolor-info-500: #355cf7;
  --semanticcolor-info-400: #5d7df9;
  --semanticcolor-info-300: #869dfa;
  --semanticcolor-info-200: #aebefc;
  --semanticcolor-info-100: #eceffe;
  --semanticcolor-success-900: #012314;
  --semanticcolor-success-800: #034528;
  --semanticcolor-success-700: #04683b;
  --semanticcolor-success-600: #068a4f;
  --semanticcolor-success-500: #07ad63;
  --semanticcolor-success-400: #0aec87;
  --semanticcolor-success-300: #41f7a6;
  --semanticcolor-success-200: #80fac4;
  --semanticcolor-success-100: #e7fef3;
  --yellow-900: #3a2f02;
  --yellow-800: #735d05;
  --yellow-700: #ad8c07;
  --yellow-600: #e7ba09;
  --yellow-500: #f7d035;
  --yellow-400: #f9d95d;
  --yellow-300: #fae386;
  --yellow-200: #fcecae;
  --yellow-100: #fefbec;
  --pink-900: #3a021b;
  --pink-800: #730536;
  --pink-700: #ad0751;
  --pink-600: #e7096d;
  --pink-500: #f7358c;
  --pink-400: #f95da3;
  --pink-300: #fa86ba;
  --pink-200: #fcaed1;
  --pink-100: #fff5f9;
  --green-900: #023a21;
  --green-800: #057342;
  --green-700: #07ad63;
  --green-600: #09e783;
  --green-500: #35f7a0;
  --green-400: #5df9b3;
  --green-300: #86fac6;
  --green-200: #aefcd9;
  --green-100: #ecfef6;
  --orchid-900: #2f023a;
  --orchid-800: #5d0573;
  --orchid-700: #8c07ad;
  --orchid-600: #ba09e7;
  --orchid-400: #d95df9;
  --orchid-300: #e386fa;
  --orchid-200: #ecaefc;
  --orchid-100: #fae7fe;
  --orchid-500: #d035f7;
  --orange-900: #3a2102;
  --orange-800: #734105;
  --orange-700: #ad6207;
  --orange-600: #e78209;
  --orange-500: #f79f35;
  --orange-400: #f9b25d;
  --orange-300: #fac586;
  --orange-200: #fcd9ae;
  --orange-100: #fef6ec;
  --sky-900: #02293a;
  --sky-800: #055273;
  --sky-700: #077bad;
  --sky-600: #09a5e7;
  --sky-500: #35bdf7;
  --sky-400: #5dcaf9;
  --sky-300: #86d7fa;
  --sky-200: #aee5fc;
  --sky-100: #ecf9fe;
  --violet-900: #13023a;
  --violet-800: #260573;
  --violet-700: #3907ad;
  --violet-600: #4b09e7;
  --violet-500: #6f35f7;
  --violet-400: #8c5df9;
  --violet-300: #a986fa;
  --violet-200: #c5aefc;
  --violet-100: #f1ecfe;
  /* Fonts */
  --heading-4-xl: 400 2.5rem/120% "e-Ukraine", sans-serif;
  --heading-3-xl: 400 2rem/120% "e-Ukraine", sans-serif;
  --heading-2-xl: 400 1.75rem/120% "e-Ukraine", sans-serif;
  --heading-xl: 500 1.5rem/120% "e-Ukraine", sans-serif;
  --heading-lg: 500 1.25rem/120% "e-Ukraine", sans-serif;
  --heading-md: 500 1rem/120% "e-Ukraine", sans-serif;
  --heading-sm: 500 .875rem/120% "e-Ukraine", sans-serif;
  --heading-xs: 500 .75rem/120% "e-Ukraine", sans-serif;
  --body-lg-light: 300 1rem/140% "e-Ukraine", sans-serif;
  --body-lg-regular: 400 1rem/140% "e-Ukraine", sans-serif;
  --body-lg-light-underlined: 300 1rem/140% "e-Ukraine", sans-serif;
  --body-md-light: 300 .875rem/140% "e-Ukraine", sans-serif;
  --body-md-regular: 400 .875rem/140% "e-Ukraine", sans-serif;
  --body-md-light-underlined: 300 14px/140% "e-Ukraine", sans-serif;
  --body-sm-light: 300 12px/120% "e-Ukraine", sans-serif;
  --body-sm-regular: 400 .75rem/120% "e-Ukraine", sans-serif;
  --body-sm-light-underlined: 300 12px/140% "e-Ukraine", sans-serif;
  --body-xs-regular: 400 10px/120% "e-Ukraine", sans-serif;
  --body-xs-light: 300 10px/120% "e-Ukraine", sans-serif;
  --button-lg: 400 16px/150% "e-Ukraine", sans-serif;
  --button-md: 400 14px/150% "e-Ukraine", sans-serif;
  --button-sm: 400 12px/150% "e-Ukraine", sans-serif;
  /* Effects */
  --calendarentry-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.12);
  --pop-up-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--text-dark);
  line-height: 1;
  font-family: "e-Ukraine";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "e-Ukraine";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  background: var(--background-secondary);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.875rem;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.button.button-large {
  border-radius: 0.75rem;
  gap: 8px;
  padding: 0.75rem 1.5rem;
  min-height: 3rem;
  font: var(--button-lg);
}

.button.button-medium {
  border-radius: 0.5rem;
  gap: 8px;
  padding: 0.5rem 1.5rem;
  min-height: 2.5rem;
  font: var(--button-md);
}

.button.button-blue {
  color: var(--text-light);
  background-color: var(--accent-500);
}

.button.button-blue:hover .circle {
  background-color: var(--accent-600);
}

.button.button-blue:active .circle {
  background-color: var(--accent-700);
}

.button.button-blue.disabled,
.button.button-blue [disabled] {
  background-color: var(--grayscale-500);
  pointer-events: none;
}

.link-blue {
  font: var(--button-md);
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--accent-500);
  border-bottom: 1px solid transparent;
  display: inline-block;
}

.link-blue:hover {
  color: var(--accent-500);
  border-bottom-color: var(--accent-500);
}

.link-blue:active {
  color: var(--accent-600);
  border-bottom-color: var(--accent-600);
}

.link-blue .disabled,
.link-blue [disabled] {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--grayscale-500);
}

.link-red {
  font: var(--button-md);
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--semanticcolor-error-500);
  border-bottom: 1px solid transparent;
  display: inline-block;
}

.link-red:hover {
  color: var(--semanticcolor-error-500);
  border-bottom-color: var(--semanticcolor-error-500);
}

.link-red:active {
  color: var(--semanticcolor-error-600);
  border-bottom-color: var(--semanticcolor-error-600);
}

.link-red .disabled,
.link-red [disabled] {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--grayscale-500);
}

.link-blue--underline {
  color: var(--accent-400);
  letter-spacing: 0.25px;
  text-decoration-line: underline;
  font: var(--body-md-light-underlined);
}

.link-blue--underline:hover {
  text-decoration: none;
}

.link-blue--underline-icon::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
  background: url("../img/icons/link-blue-underline-icon.svg") 0 0 no-repeat;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0.75rem;
  border: 1px solid var(--grayscale-300);
  background-color: var(--grayscale-100);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.75rem 1rem;
  color: var(--text-dark, #1F1F1F);
  font: var(--body-md-light);
  letter-spacing: 0.25px;
  transition: all 0.3s;
  outline: none;
  min-height: 3rem;
}

.input.input-referral {
  pointer-events: none;
  padding: 0.75rem 9rem 0.75rem 1rem;
}

.input::-webkit-input-placeholder {
  color: var(--grayscale-700);
}

.input::-moz-placeholder {
  color: var(--grayscale-700);
}

.input:-ms-input-placeholder {
  color: var(--grayscale-700);
}

.input::-ms-input-placeholder {
  color: var(--grayscale-700);
}

.input::placeholder {
  color: var(--grayscale-700);
}

.input:hover {
  border-color: var(--accent-300);
  background-color: var(--accent-100);
}

.input:active {
  border-color: var(--accent-400);
  background-color: var(--background-primary);
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.heading-4xl {
  font: var(--heading-4-xl);
  letter-spacing: -0.5px;
}

.heading-lg {
  font: var(--heading-lg);
  letter-spacing: 0.25px;
}

.heading-xl {
  font: var(--heading-xl);
  letter-spacing: 0.25px;
}

.text-light {
  color: var(--text-light);
}

.text-grayscale-600 {
  color: var(--grayscale-600);
}

.text-grayscale-800 {
  color: var(--grayscale-800);
}

.text-body-sm-light {
  font: var(--body-sm-light);
  letter-spacing: 0.25px;
}

.text-body-md-light {
  font: var(--body-md-light);
  letter-spacing: 0.25px;
}

.text-body-lg-light {
  font: var(--body-lg-light);
  letter-spacing: 0.25px;
}

b {
  font-weight: bold;
}

.logo-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-page img {
  width: 48px;
  height: 48px;
  margin-right: 4px;
}

.logo-page span {
  color: var(--Black, #000);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 120px;
  display: block;
}

.icon.icon--size-s {
  width: 1rem;
  height: 1rem;
}

.icon.icon--size-s use {
  width: 1rem;
  height: 1rem;
}

.icon.icon--size-m {
  width: 1.5rem;
  height: 1.5rem;
}

.icon.icon--size-m use {
  width: 1.5rem;
  height: 1.5rem;
}

.badge.badge--numeric {
  color: #FFF;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 6px;
  background: var(--pink-500, #F7358C);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 16.8px */
  letter-spacing: 0.25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 1.375rem;
  height: 1.375rem;
  padding: 2px 2.5px 3px 2.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.badge.badge--pin {
  border-radius: 0.375rem;
  border: 2px solid var(--background-primary);
  background-color: var(--pink-500);
  width: 0.75rem;
  height: 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
}

.link-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.link-with-icon .icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link-with-icon .icon path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link-with-icon--hover:hover .icon path[fill="#747B98"] {
  fill: var(--accent-500);
}

.link-with-icon--hover:hover .icon path {
  fill: var(--accent-200);
}

.svg-icon {
  line-height: 0;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.profile__avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile.profile--size-xs {
  gap: 0.375rem;
}

.profile.profile--size-xs .profile__avatar.avatar-icon {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.375rem;
}

.profile.profile--size-xs .profile__name {
  font: var(--body-md-light);
  letter-spacing: 0.25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .avatar-bg-pink {
  background-color: var(--orchid-600);
}

.profile .avatar-bg-purple {
  background-color: var(--violet-700);
}

.profile .avatar-bg-green {
  background-color: var(--green-700);
}

.profile.profile--size-s .profile__avatar.avatar-text {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  border-radius: 0.625rem;
  font: var(--heading-md);
  letter-spacing: 0.25px;
}

.profile.profile--size-s .profile__name {
  font: --button-md;
  letter-spacing: 0.25px;
}

.profile.profile--size-l .profile__avatar.avatar-text {
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.5rem;
          flex: 0 0 3.5rem;
  border-radius: 1rem;
  font: var(--heading-lg);
  letter-spacing: 0.25px;
}

.profile.profile--size-l .profile__name {
  font: var(--button-lg);
  letter-spacing: 0.25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget {
  border-radius: 1.5rem;
  border: 1px solid var(--grayscale-200);
  background-color: var(--background-primary);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.widget-badge .badge {
  margin-top: -5px;
}

.widget__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.widget__header:not(.items-start) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-alert {
  color: var(--grayscale-800);
  font: var(--body-md-light);
  letter-spacing: 0.25px;
}

[data-ripple] {
  --width: 100%;
  --time: 0.5s;
  position: relative !important;
  display: inline-block;
  overflow: hidden;
}

[data-ripple] .button__text {
  position: relative;
  z-index: 5;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}

[data-ripple] .circle {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

[data-ripple]:hover .circle {
  width: calc(var(--width) * 2.25);
  padding-top: calc(var(--width) * 2.25);
}

.bonus-element {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.bonus-element.bonus-element--small {
  color: var(--grayscale-800);
  text-overflow: ellipsis;
  font: var(--heading-mds);
  letter-spacing: 0.25px;
}

.header {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.header__notifications {
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  border-radius: 0.625rem;
  background-color: var(--background-primary);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
}

.header__notifications:hover {
  background-color: var(--grayscale-100);
}

.header__notifications:active {
  background-color: var(--grayscale-200);
}

.header__notifications .badge {
  position: absolute;
}

.header__notifications .badge:not(.badge--numeric) {
  right: 8px;
  top: 5px;
}

.header__notifications .badge.badge--numeric {
  right: 2px;
  top: 2px;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.content__container {
  padding: 2rem 2rem 1.5rem 2rem;
}

.content-widgets {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: minmax(500px, 1fr) minmax(265px, 340px);
  grid-template-columns: minmax(500px, 1fr) minmax(265px, 340px);
}

.page-sidebar {
  border-radius: 0px 2rem 2rem 0px;
  padding: 2rem 1rem;
  background: var(--background-primary, #FFF);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17rem;
          flex: 0 1 17rem;
  width: 17rem;
  max-width: 17rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-sidebar .sidebar__content {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.page-sidebar .sidebar__content::-webkit-scrollbar {
  width: 5px;
}

.page-sidebar .sidebar__content::-webkit-scrollbar-track {
  border-radius: 1rem;
}

.page-sidebar .sidebar__content::-webkit-scrollbar-thumb {
  background-color: var(--accent-400);
  border-radius: 1rrem;
}

.page-sidebar .sidebar__content::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-500);
}

.page-sidebar .sidebar__logo {
  margin-bottom: 2rem;
}

.page-sidebar .sidebar__menu .menu__item {
  margin-bottom: 0.5rem;
}

.page-sidebar .sidebar__menu .menu__item:last-child {
  margin-bottom: 0;
}

.page-sidebar .sidebar__menu .menu__link {
  color: var(--grayscale-800, #747B98);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.25px;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 12px;
}

.page-sidebar .sidebar__menu .menu__link.link-menu .link-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.page-sidebar .sidebar__menu .menu__link:hover {
  background-color: var(--grayscale-100, #F7F8FB);
  color: var(--accent-500, #355CF7);
}

.page-sidebar .sidebar__menu .menu__link:active {
  color: var(--accent-500, #355CF7);
  background-color: var(--grayscale-200, #E8EAF2);
}

.page-sidebar .sidebar__menu .menu__link.selected {
  color: var(--accent-500, #355CF7);
  background-color: var(--accent-100, #ECEFFE);
}

.page-sidebar .sidebar__menu .menu__link.selected .icon path[fill="#747B98"] {
  fill: var(--accent-500);
}

.page-sidebar .sidebar__menu .menu__link.selected .icon path {
  fill: var(--accent-200);
}

.page-sidebar .sidebar__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.page-sidebar .sidebar-logout {
  color: var(--grayscale-800, #747B98);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.25px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 12px;
}

.page-sidebar .sidebar-logout:hover {
  background-color: var(--grayscale-100, #F7F8FB);
  color: var(--accent-500, #355CF7);
}

.page-sidebar .sidebar-logout:active {
  color: var(--accent-500, #355CF7);
  background-color: var(--grayscale-200, #E8EAF2);
}

.my-balance__column.disabled * {
  color: var(--grayscale-500);
}

.my-balance__column.disabled svg path {
  fill: var(--grayscale-300);
}

.my-balance__column .svg-icon {
  border-radius: 0.625rem;
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--grayscale-100);
  width: 2.5rem;
  height: 2.5rem;
}

.my-balance__column .column-balance__info span {
  font: var(--body-md-regular);
  letter-spacing: 0.25px;
  display: block;
}

.my-payments__item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.my-payments__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.referral-program__link {
  position: relative;
}

.referral-program__link input {
  width: 100%;
}

.referral-program__button {
  position: absolute;
  right: 4px;
  top: 4px;
}

.my-childrens__child {
  position: relative;
  margin-bottom: 1rem;
}

.my-childrens__child:last-child {
  margin-bottom: 0;
}

.my-childrens__child .child__body .profile {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-childrens__child .child__body .profile__name {
  margin-bottom: 0.5rem;
}

.my-childrens__child .child__info {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-childrens__child .child__info-line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
}

.my-childrens__child .child__info-line p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-widgets-large .my-childrens .widget__body .profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-widgets-large .my-childrens .widget__body .profile__name {
  margin-bottom: 0;
  max-width: 12.5rem;
}

.content-widgets-large .my-childrens .widget__body .profile .child__info {
  display: none;
}

.content-widgets-large .my-childrens .widget__body .child__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.content-widgets-large .my-childrens .widget__body .child__info--mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.orders-shop__order {
  border-radius: 0.75rem;
  border: 1px solid var(--grayscale-200);
  background-color: var(--grayscale-100);
  margin-bottom: 16px;
}

.orders-shop__order:last-child {
  margin-bottom: 0;
}

.orders-shop__order .order__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  padding: 1rem 1rem 0.75rem 1rem;
  border-bottom: 1px solid var(--grayscale-300);
}

.orders-shop__order .order__content {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--grayscale-300);
}

.orders-shop__order .order__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem 1rem;
  padding: 0.75rem 1rem 1rem;
}

.orders-shop__order .order__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.orders-shop__order .order__line:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .md\:text-body-lg-light {
    font: var(--body-lg-light);
    letter-spacing: 0.25px;
  }
}

@media (min-width: 1024px) {
  .my-childrens__child .child__info--mob {
    display: none;
  }
}